<% if !merges.empty? %>
    <h3><%=
        if success
          'Successful Merges:'
        else
          'Unsuccessful Merges'
        end%></h3>
    <% merges.each do |source_branch, target_branches| %>
        <p>
          <%=
          if success
            'Merged '
          else
            'Failed to merge '
          end%><%= render partial: 'shared/branch_link', locals: {repository_name: @repository_name, branch: source_branch} %> into:
        </p>
        <% target_branches.each do |target_branch| %>
          <p style="margin-left:20px;margin-top:0px;margin-bottom:0px">
            <%= render partial: 'shared/branch_link', locals: {repository_name: @repository_name, branch: target_branch} %>
          </p>
        <% end %>
    <% end %>
<% end %>
