<% if !conflicts.empty? %>
    <h3><%= heading %></h3>
    <% conflicts.each do |conflict| %>
        <p style="margin-bottom:0px">
            <% if @user.id == conflict.branch_a.author.id %>
                <%= render partial: 'conflict', locals: {branch_a: conflict.branch_a, branch_b: conflict.branch_b, resolved: true} %>
            <% else %>
                <%= render partial: 'conflict', locals: {branch_a: conflict.branch_b, branch_b: conflict.branch_a, resolved: true} %>
            <% end %>
        </p>
    <% end %>
<% end %>
