<% if !conflicts.empty? %>
    <h3><%= heading %></h3>
    <% conflicts.each do |conflict| %>
        <p style="margin-bottom:0px">
          <%= render partial: 'conflict', locals: {conflict: conflict, show_branch_a_first: @user.id == conflict.branch_a.author.id} %>
        </p>
    <% end %>
<% end %>
